.wrap{
    width: 1200px;
    margin: 0 auto;
    background-color: #fafafa;
}
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: snow;
}
#gnb .depth1{
    display: flex;
    gap: 16px;
}
.depth2{
    display: none;
}

#gnb .depth1:hover .depth2{
    display: block;
    background-color: #ffffff;
    position: relative;
}

.depth1 > li > a{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: snow;
    padding: 0 50px;
}
#logo a{
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    /* 여기서 패딩 넣으면 그리드가 무너질 수 있음. */
}
.slide ul{
    display: flex;
    /* height: 300px; */
}
.slide ul img{
    display: block;
    height: 300px;

}

/* main */
#main{
    height: 200px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.sec-g{
    /* width: 33.333%; */
    flex-grow: 1;
    flex-basis:0;
    padding: 10px 0;
}
.sec-g .sec-tit{
    margin-bottom: 10px;
    font-size: 20px;
}

/* main bbs */
.list-bbs li{
    display: flex ;
    align-items: center;
}
.list-bbs a{
    display: block;
    width: 100%;
    /* padding: 5px 0; */
}
.list-bbs li::before{
    content: '';
    display: block;
    width: 5px;height: 5px;
    margin-right: 10px;
    background-color: antiquewhite;
}

/* main bnr */
.bnr .sec-tit, .goto .sec-tit{
    margin: 0;
    text-indent: -9999px;
    line-height: 0;
    font-size: 0;
}


/* main goto */
.sec-g .list-goto{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    align-content: space-between;
}
.list-goto li{
    display: block;
    width: 48%;
    /* width 안 넣으니까 텍스트에 맞추어서 계속 한 줄로 쭉 놓임... */
    height: 48%;
    background-color: papayawhip;
}
.list-goto a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 85px;
    /* 행간을 높이값만큼 넣으면 글씨가 middle으로 들어간다. */
}

/* footer */
#footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid snow;
}



