/* reset 전체 세팅값 */
*{
    /* 브라우저의 기본 font-size: 16px; 따라서 적지 않아도 16으로 이용자에게 전달됨. */
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif ;
    font-weight: 500;
    letter-spacing: -0.4px;
    line-height: 1.3;
}