*{color : #f0f0f0;}

.desc2{font-size: 18px;
    color: lightslategray;
    font-weight: 800;
    line-height: 0.8;
}
.desc1{
    color: #484040;

}

p.desc2{color: #000;}

#main{width: 500px;background-color: #d9d9d9;;}
.header.dark{width: 100%; background-color: #666;}
.header.light{width: 100%; background-color: #fff;}

.header .depth1{background-color: blue;}
.depth1 li{background-color: yellow;}

.depth1 a{color: green;}
.depth1 a{color: red;}
/* 같은 우선순위 일 때 아래에 적힌 것이 우선순위 높음. 그래서 red만 남고 green 사라짐. */

.depth1 > li > a {background-color: orange;}
.depth2 a {background-color: green;}
#gnb .depth2 a{color: #000;}

/* 가상클래스 선택자 */
#gnb .depth2 a:hover{background-color: #fff;}

.input{color:#fff;width: 300px;height: 30px;background-color: #423636;border-radius: 4px;}
.input:focus{color:#000;width: 300px;height: 30px;background-color: #c4c0c0;border-radius: 4px;}

.bbs li a{color: #666;}
/* Q. li, a 모두 색 바꾸려면 따로 지정? */
.bbs li:first-child{background-color: pink;}
.bbs li:first-child a{color:red}
.bbs li:last-child{background-color: yellow;}
.bbs li:last-child a{color: brown;}
.bbs li:nth-child(2){background-color: #fff;}
.bbs li:nth-child(2) a{color: #888;}

.goto li::before{content: '>';}
.goto li::after{content: '<';}
.goto li a{color: tomato;}
.goto li a::before{
    display: block ;
    content: "";
    width: 50px;
    height: 50px;
    background: url(./img/mobile_212852414260.png);
    background-size: 100%;
}
.goto li a::after{
    display: block ;
    content: "";
    width: 50px;
    height: 50px;
    background: url(./img/mobile_212852414260.png);
    background-size: 100%;
}
/* before, after의 ><는 링크가 걸리지 않지만 +*는 링크가 걸림. */
/* 이거 연결가능할까? */

.icon li::before{
    content: '\f101';
    font-family: 'Line Awesome Free';
    font-weight: 900;
}

.icon li:nth-child(4)::before{
    content: "\f09b";
    font-family: 'Line Awesome Brands';
}
.icon li:nth-child(5)::before{
    content: "\f16d";
    font-family: 'Line Awesome Brands';
}
.icon li:last-child::before{
    content: "\f431";
    font-family: 'Line Awesome Brands';
}
svg{display: inline; width: 16px;height: 16px;}